<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SastoMitho</title>
    <link href="" rel="icon">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/Content/animate.css">

    <link rel="stylesheet" href="/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Content/magnific-popup.css">

    <link rel="stylesheet" href="/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/Content/jquery.timepicker.css">

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/style(y).css">

    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>


<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">

        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="#" style="font-size: 1.25em;">
                            My Account
                        </a>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li><a href="y.html"><span class="glyphicon glyphicon-user"></span> Profile Info</a></li>
                    <li><a href="dashboard.html"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a></li>
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Order History</a></li>
                    <li><a href="address.html"><span class="glyphicon glyphicon-map-marker"></span> Address</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-off"></span> Log Out</a></li>


                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>

    <!-- Main Content -->
    <div class="container-fluid" style="background:rgba(24, 24, 24, .7); ">
        <div class="side-body" style="padding-top: 50px;">

            <h1 align="center" style="color: #b8b8b8; padding-bottom: 20px;">Your Orders</h1>
            <div id="kalo">
                <div class="container">

                    <table class="table table-stripped table-responsive">
                        <thead>
                            <tr>
                                <th style="width: 87.612px">Order ID</th>
                                <th style="width: 156.7px">Price</th>
                                <th style="width: 165.333px">Order Issued</th>
                                <th style="width: 165.333px">Order Completed</th>
                                <th style="width: 217.133px">Order Status</th>
                                <th style="width: 281.833px">Assigned Deliverer</th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-stripped table-responsive">
                        <tbody>
                            <tr class="accordion-toggle" data-toggle="collapse"
                                data-target="#collapseOne">
                                <td style="width: 87.612px">1</td>
                                <td style="width: 156.7px">220</td>
                                <td style="width: 165.333px">time</td>
                                <td style="width: 165.333px">time</td>
                                <td style="width: 217.133px">status</td>
                                <td style="width: 281.833px">kalebhai ko bhai</td>
                            </tr>
                        </tbody>
                    </table>

                    <p colspan="3">
                        <div id="collapseOne" class="collapse">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </p>
                    <table class="table table-stripped table-responsive">
                        <tbody>
                            <tr class="accordion-toggle" data-toggle="collapse"
                                data-target="#collapseTwo">
                                <td style="width: 87.612px">1</td>
                                <td style="width: 156.7px">220</td>
                                <td style="width: 165.333px">time</td>
                                <td style="width: 165.333px">time</td>
                                <td style="width: 217.133px">status</td>
                                <td style="width: 281.833px">kalebhai ko bhai</td>
                            </tr>
                        </tbody>
                    </table>
                    <p colspan="3">
                        <div id="collapseTwo" class="collapse">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </p>

                </div>
            </div>






        </div>
    </div>
</div>

